:root {
	--button-background-color: #ece5d8;
	--button-font-color: #3b4255;
}

body {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-align: center;
	color: #fafafa;
	background-color: #060d1f;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	display: grid;
	grid-template-rows: 2em 1fr 1.5em;
	min-height: 100vh;
	overflow-x: hidden;
	margin: 0;
}

.row {
	display: flex;
	gap: 1em;
	justify-content: center;
}

button {
	font-family: Hoyofont;
	display: block;
	padding: 0 0.5em;
	height: 2em;
	background-color: var(--button-background-color);
	color: var(--button-font-color);
	border: none;
	border-radius: 2em;
	font-size: 1.5rem;
	outline: none;
	cursor: pointer;
}

button.dark {
	background-color: #4b5367;
	color: #e5e1dc;
}

a {
	color: #309be2;
	text-decoration: none;
}
