:root {
	--button-background-color: #ece5d8;
	--button-font-color: #3b4255;
}

body {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	background-color: #060d1f;
	color: #fafafa;
	display: grid;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", sans-serif;
	gap: 0.5em;
	grid-template-rows: 7em 1fr auto;
	margin: 0;
	min-height: 100vh;
	min-height: 100svh;
	overflow-y: scroll;
	text-align: center;
}

.row {
	display: flex;
	gap: 1em;
	justify-content: center;
}

.button-wrapper {
	align-items: baseline;
	display: flex;
	gap: 1em;
	justify-content: center;
}

button {
	background-color: var(--button-background-color);
	border-radius: 2em;
	border: none;
	color: var(--button-font-color);
	cursor: pointer;
	display: block;
	font: 1.5rem Hoyofont;
	height: 2em;
	outline: none;
	padding: 0 0.5em;
}

.button-wrapper button {
	min-width: 6em;
}

button.dark {
	background-color: #4b5367;
	color: #e5e1dc;
}

a {
	color: #309be2;
	text-decoration: none;
}

p {
	text-align: justify;
}

.options-wrapper {
	align-items: center;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	margin: 0.5em;
	text-align: initial;
}
