:root {
	--button-background-color: #ece5d8;
	--button-font-color: #3b4255;
}

body {
	font-family: Hoyofont, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-align: center;
	display: grid;
	grid-template-columns: 1fr 1fr;
	color: #fafafa;
	background-color: #060d1f;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}
