name: "Build"

on: [push]

jobs:
  release:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2.3.4
      - name: Setup node.js environment
        uses: actions/setup-node@v2.1.5
        with:
          node-version: "16"
          registry-url: https://registry.npmjs.org
      - name: Install dependencies
        run: npm install
      - name: Build
        run: npm run build
        env:
          VUE_APP_PUBLIC_PATH: ${{secrets.VUE_APP_PUBLIC_PATH}}
      - name: Archive production artifacts
        uses: actions/upload-artifact@v2
        with:
          name: dist-without-markdown
          path: |
            dist
            !dist/**/*.md
